:host {
  display: block;
  margin: 0 auto;
  max-width: var(--max-width-outer);
  padding: var(--spacing02);
}

.header-row {
  display: flex;
}

.header-row--button {
  margin-top: var(--spacing01);
}

.header-row--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 1px solid var(--grayscale03);
  padding: var(--spacing03) var(--spacing02);
  text-align: center;
  width: 100%;
}
