:host {
  display: block;
}

.container {
  background-color: var(--grayscale01);
  margin: 0 auto;
  max-width: var(--max-width-outer);
  padding: var(--spacing04) 0;
  width: 100%;
}

.headline {
  margin: 0 0 var(--spacing04);
  text-align: center;
  width: 100%;
}

.card-container {
  column-gap: var(--spacing02);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: var(--max-width-inner);
  padding: 0 var(--spacing02);
}

.card {
  align-content: stretch;
  align-items: stretch;
  background-color: var(--white);
  border-radius: var(--spacing02) 2px 2px 2px;
  box-shadow: 0 0 8px rgba(147, 149, 161, 0.7);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-self: stretch;
}

.card-title {
  margin-bottom: 1rem;
}

.card-body {
  flex-grow: 3;
}

.image {
  border-radius: var(--spacing02) 2px 2px 2px;
  /* flex-basis: 55%; */
  /* Image ratio is 16:9 */
  height: calc(24vw / 1.778);
  max-height: 150px;
  overflow: hidden;
}

.image > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-wrap: nowrap;
  justify-content: stretch;
  /* flex-basis: 45%; */
  padding: var(--spacing02) var(--spacing02);
}

.cta {
  margin: var(--spacing02) 0 0 0;
}

/* Responsive */
/* Mobile */
@media (max-width: 767px) {
  .container {
    padding: var(--spacing03) 0;
  }

  .headline {
    margin: 0 var(--spacing01) var(--spacing03);
    text-align: left;
    width: auto;
  }

  .card-container {
    grid-template-columns: 1fr;
    padding: 0 var(--spacing01);
    row-gap: var(--spacing02);
  }

  .card {
  }

  .card-title {
    margin-bottom: 0.5rem;
  }

  .image {
    /* Mobile image ratio is 9:5 = 1.8h or .556w */
    height: calc((100vw - 2rem) / 1.8);
    /* flex-basis: 70%; */
  }

  .image > img {
  }

  .card-content {
    /* flex-basis: 30%; */
    padding: var(--spacing02) var(--spacing02) 0 var(--spacing03);
  }

  .cta {
    margin: var(--spacing02) 0;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    padding: var(--spacing04) 0;
  }

  .headline {
    text-align: center;
  }

  .card-container {
    grid-template-columns: 1fr 1fr;
    row-gap: var(--spacing02);
  }

  .card {
  }

  .image {
    /* Tablet image ratio is 5:2 = 2.5h or .4w */
    height: calc(((100vw - 4.5rem) / 2) / 2.5);
    /* flex-basis: 60%; */
    max-height: 184px;
  }

  .image > img {
  }

  .card-content {
    /* flex-basis: 40%; */
  }

  .cta {
    margin-bottom: 0;
  }
}
