# Project Specific
dist/
www/
loader/
dist-stencil/


# Logs, etc
*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt

# Tools, etc
.env
.stencil/
.idea/
.sass-cache/
.versions/
node_modules/
build-storybook.log
UserInterfaceState.xcuserstate

# System, etc
.DS_Store
Thumbs.db
$RECYCLE.BIN/
