:host {
  display: block;
  margin: 0 auto;
  max-width: var(--max-width-outer);
  position: relative;
  z-index: 10;
}

.hidden {
  display: none;
}

.logo {
  margin-top: var(--spacing00);
  width: 92px;
}

.nav-container {
  background-color: var(--primary01);
  position: relative;
  width: 100%;
  z-index: 2;
}

/** Top Row **/
.top-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing02);
}

.top-row nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.top-row nav.mobile {
  display: none;
}

.top-row nav ul {
  padding: 0;
  margin-top: 0.95rem;
  margin-bottom: 0.95rem;
}

.top-row nav ul li {
  display: inline-block;
  list-style: none;
  margin-left: var(--spacing02);
}

.top-row nav ul li.top-row-menu-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.top-row nav ul li.top-row-menu-item:hover arvest-typography {
  text-decoration: underline;
  text-decoration-color: var(--white);
  text-underline-position: under;
}

.top-row nav ul li.top-row-menu-item a arvest-typography {
  margin-left: var(--spacing00);
}

arvest-icon {
  filter: invert(1);
}

/** Bottom Row **/

.bottom-row {
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.bottom-row nav {
  display: flex;
  padding: 0 var(--spacing02);
}

.bottom-row.mobile {
  display: none;
}

.search {
  margin-right: var(--spacing02);
  margin-top: calc(-1 * var(--spacing00));
}

@media (max-width: 1241px) {
  .nav-container {
    max-height: 80px;
    padding: var(--spacing01) 0;
  }

  .top-row nav,
  .bottom-row {
    display: none;
  }

  .top-row {
    padding: 0 var(--spacing01);
  }

  .top-row nav.mobile {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .bottom-row.mobile {
    display: block;
    position: relative;
    height: 0;
  }

  .bottom-row.mobile nav {
    display: block;
    position: relative;
    padding: 0;
  }

  button.hamburger {
    margin-left: var(--spacing02);
    margin-right: 0;
    background-color: transparent;
    border: none;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .search {
    margin-top: var(--spacing01);
    margin-right: 0;
    background-color: var(--grayscale01);
    padding: var(--spacing02) var(--spacing01);
  }

  .overlay {
    background-color: rgba(37, 37, 40, 0.5);
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
