:host {
  display: inline-block;
  width: max-content;
}

.default {
  background-color: transparent;
  border: 0;
  display: flex;
  outline: none;
  padding: 0;
}

.button {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px transparent;
  display: flex;
  outline: none;
  padding: 0;
}

.button:hover {
  color: var(--hover01);
  cursor: pointer;
}

.button:active {
  background-color: transparent;
  border-bottom: solid 2px transparent;
  outline: none;
  padding: 0;
}

.button:focus {
  border-bottom: solid 2px var(--hover01);
  outline: none;
}

.button-content {
  width: max-content;
}

.button-content--wrapper {
  display: flex;
  width: max-content;
}

.button-spinner {
  margin-right: var(--spacing00);
}

.icon {
  bottom: -1px;
  margin-left: 8px;
  position: relative;
}
