:host {
  display: block;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content {
  width: 60px;
}

a {
  color: var(--black);
  text-decoration: none;
}

a:visited {
  color: var(--black);
  text-decoration: none;
}

.bar {
  position: absolute;
  z-index: -1;
  height: 3px;
  background: var(--grayscale02);
}

.active {
  width: 40px;
  height: 8px;
  background: var(--secondary01);
  box-shadow: 0 1px 3px var(--grayscale05);
  border-radius: 6px 0;
  margin: 0 10px 8px 10px;
}

.complete {
  width: 10px;
  height: 8px;
  background: var(--grayscale05);
  box-shadow: 0 1px 3px var(--grayscale05);
  border-radius: 4px 0;
  margin: 0 25px 8px 25px;
}

.incomplete {
  width: 10px;
  height: 8px;
  background: var(--white);
  box-shadow: 0 1px 3px var(--grayscale05);
  border-radius: 4px 0;
  margin: 0 25px 8px 25px;
}

/** Desktop stepper lengths **/

.container.long {
  width: 496px;
}

.long .bar {
  width: 436px;
  margin: 3px 30px 0 30px;
}

.container.short {
  width: 350px;
}

.short .bar {
  width: 290px;
  margin: 3px 30px 0 30px;
}

/** Tablet stepper lengths **/

@media (max-width: 768px) {
  .container.long {
    width: 300px;
  }

  .long .bar {
    width: 240px;
    height: 2px;
    background: var(--grayscale03);
    margin: 3px 30px 0 30px;
  }

  .container.short {
    width: 180px;
  }

  .short .bar {
    width: 120px;
    height: 2px;
    background: var(--grayscale03);
    margin: 3px 30px 0 30px;
  }
}
