:host {
    display: block;
}

.container {
    width: 954px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacing02) 0px 0px;
    position: relative;
}

.selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    padding-bottom: var(--spacing02);
}

.sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 194px;
    height: 24px;
}

.sort a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.views {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    width: 180px;
    height: 24px;
}

.views a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.two-up-grid {
    column-gap: var(--spacing02);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.two-up-card {
    width: 465px;
    height: 407.19px;
    position: relative;
    margin-bottom: var(--spacing04);
}

.four-up-grid {
    column-gap: var(--spacing02);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.four-up-card {
    width: 220px;
    height: 253px;
    position: relative;
    margin-bottom: var(--spacing04);
}

.two-up-active {
    padding-right: 24px;
}

.two-up-inactive {
    padding-right: 28.14px;
}

.dropdown {
    display: block;
    position: absolute;
    top: 50px;
    left: 48px;
    z-index: 900;
    min-width: 10rem;
    padding: 0.5rem;
    margin: 0.125rem 0 0;
    background-color: var(--grayscale01);
    border: var(--shadow01);
    border-radius: 0.25rem;
}

.select {
    margin: 0 auto;
}

.icon {
    filter: invert(47%) sepia(5%) saturate(586%) hue-rotate(192deg) brightness(90%) contrast(88%);
}

.icon-active {
    filter: invert(30%) sepia(80%) saturate(1076%) hue-rotate(191deg) brightness(93%) contrast(82%);
}

@media (max-width: 768px) {
    .container {
        width: 736px;
    }

    .two-up-card {
        width: 343px;
        height: 330.71px;
    }

    .four-up-card {
        width: 164px;
        height: 217.62px;
        margin-bottom: var(--spacing03);
    }
}

@media (max-width: 375px) {
    .container {
        width: 343px;
        padding: 0px;
    }

    .views {
        width: 55.5px;
        height: 17.06px;
    }

    .two-up-grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
    }

    .two-up-card {
        width: 343px;
        height: 330.71px;
    }

    .four-up-grid {
        grid-template-columns: 1fr 1fr;
    }

    .four-up-card {
        width: 164px;
        height: 217.62px;
        margin-bottom: var(--spacing03);
    }

    .dropdown {
        top: 24px;
        left: 24px;
    }
}
