:host {
  display: inline;
}

.container {
  border-radius: var(--spacing01) 2px;
  min-height: 172px;
  overflow: hidden;
  width: 406px;
}

@media (max-width: 375px) {
  .container {
    width: 100%;
  }
}

.container.ratio52 {
  height: 172px;
}

.container.ratio21 {
  height: 202px;
}

.bgimage {
  background-position: center;
  background-size: cover;
  height: inherit;
  opacity: 0.5;
  position: relative;
  width: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100% - 48px);
  justify-content: space-between;
  padding: var(--spacing02);
  width: calc(100% - 48px);
}

.container.ratio52 .content {
  bottom: 172px;
}

.container.ratio21 .content {
  bottom: 202px;
}

.headline {
  flex-grow: 2;
  overflow: hidden;
  text-align: left;
}

.cta {
  align-self: flex-end;
  text-align: right;
}

/* Container Color Options */
.cobalt {
  background-color: var(--secondary01);
}

.ocean {
  background-color: var(--primary02);
}

.navy {
  background-color: var(--primary01);
}
