:host {
  display: block;
}

label {
  color: var(--grayscale06);
  cursor: text;
  display: inline-block;
  left: 13px;
  position: relative;
  top: 38px;
  transition: all 0.4s;
}

label.active {
  font-size: 12px;
  transform: translateY(-16px);
}

input {
  box-shadow: 0px 1px 3px var(--grayscale05);
  border: transparent;
  border-radius: 2px;
  caret-color: var(--secondary01);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  overflow: visible;
  padding: 22px .75rem 10px;
  width: calc(100% - 1.5rem);
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  display: inline-block;
  width: 100%;
}

small {
  font-size: 80%;
  font-weight: 400;
}

.text-muted {
  color: var(--grayscale06) !important;
}

.form-control {
  background-color: var(--white);
  background-clip: padding-box;
  color: var(--black);
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--grayscale05);
}

.form-control:focus {
  background-color: var(--white);
  border-color: #80bdff;
  box-shadow: 0 2px 6px rgba(147, 149, 161, 0.8);
  color: var(--black);
  outline: 0;
}

/* Placeholder Text */
.form-control::placeholder {
  color: var(--grayscale06);
  opacity: 0;
}

.form-control::-webkit-input-placeholder {
  color: var(--grayscale06);
  opacity: 0;
}

.form-control::-moz-placeholder {
  color: var(--grayscale06);
  opacity: 0;
}

.form-control:-ms-input-placeholder {
  color: var(--grayscale06);
  opacity: 0;
}

.form-control::-ms-input-placeholder {
  color: var(--grayscale06);
  opacity: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: var(--grayscale05);
  background-color: var(--white);
}

select.form-control[size],
select.form-control[multiple] {
  height: auto;
}

textarea.form-control {
  height: auto;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: var(--accent03);
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  border-color: var(--accent03);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: var(--accent01);
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  border-color: var(--accent01);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-inline .form-control-plaintext {
  display: inline-block;
}

.textinput-error {
  margin-top: 3px;
  color: var(--accessible-red);
}

input:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
