:host {
  display: block;
}

.footer-list {
  color: var(--white);
  padding-left: 0;
  margin-top: var(--spacing00);
  margin-bottom: var(--spacing02);
}

section {
  padding-left: var(--spacing01);
}
