:host {
  display: block;
}

.image-container {
  width: 100vw;
  overflow: hidden;
}

.image-item {
  width: 100vw;
  object-fit: cover;
}

@media (max-width: 767px) {
  .image-container {
    width: 100vw;
    height: calc((100vw) / (3 / 2)) !important;
    overflow: hidden;
  }
  .image-item {
    width: 100vw;
    height: calc((100vw) / (3 / 2)) !important;
    object-fit: cover;
  }
}
