:host {
  display: block;
}

.container {
  background-color: var(--white);
  margin: 0 auto;
  max-width: var(--max-width-outer);
  padding: var(--spacing04) 0;
  text-align: center;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: var(--max-width-inner);
  padding: 0 var(--spacing01);
  text-align: center;
  width: 66.67%;
}

.headline {
  margin-bottom: var(--spacing02);
}

.subhead {
  margin-bottom: 0;
}

.cta {
  margin-top: var(--spacing03);
}

/* Responsive */
/* Mobile */
@media (max-width: 767px) {
  .content {
    padding-left: var(--spacing01);
    padding-right: var(--spacing01);
    width: 87.67;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 992px) {
  .content {
    width: 66.67%;
  }
}
