:host {
  display: block;
}

/**  Wrapper  **/

.select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  border-radius: 3px 3px 3px 3px;
  border-top: 1px solid var(--grayscale02);
  border-left: 1px solid var(--grayscale02);
  border-right: 1px solid var(--grayscale02);
  border-bottom: 1px solid var(--grayscale02);
  box-shadow: 0px 1px 3px var(--grayscale05);
  z-index: 3;
}

.select-wrapper:hover {
  box-shadow: 0 2px 6px var(--shadow01);
}

.select-wrapper.open {
  box-shadow: 0 2px 3px 0.5px var(--shadow01);
  border-radius: 2px 2px 0 0;
}

.select-wrapper.open:hover {
  box-shadow: 0 2px 3px 0.5px var(--shadow01);
}

/**  Disabled state  **/

.select-wrapper.disabled:hover {
  box-shadow: 0 1px 3px var(--grayscale05);
}

.select-wrapper.disabled .select-trigger {
  cursor: default;
}

.select-wrapper.disabled .dropdown-label {
  color: var(--grayscale03);
}

.select-wrapper.disabled .dropdown-icon {
  filter: invert(93%) sepia(10%) saturate(101%) hue-rotate(194deg) brightness(86%) contrast(90%);
}

/** Labels **/

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.select-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  height: 56px;
  background-color: var(--white);
  cursor: pointer;
}

.dropdown-icon {
  margin-left: 10px;
  filter: invert(45%) sepia(7%) saturate(509%) hue-rotate(192deg) brightness(93%) contrast(82%);
}

.dropdown-label {
  position: relative;
  display: inline-block;
  font-family: var(--font-family-sans-serif);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--grayscale06);
  top: 3px;
  z-index: 3;
  transition: all 0.4s;
}

.dropdown-label.show {
  top: -12px;
  font-size: 75%;
}

.dropdown-label.selected {
  top: 0;
  font-size: 75%;
  transition: none;
}

/** Options  **/

.selected-option {
  margin-top: -2px;
  padding-bottom: 4px;
}
