:host {
  display: inline-block;
  width: max-content;
}

.default,
.button {
  border: none;
  border-radius: 2px;
  max-width: 320px;
  min-width: 120px;
  height: 40px;
  width: 100%;
  padding: 1px 6px;
  align-items: center;
}

.button {
  background-color: var(--secondary01);
  box-sizing: border-box;
  transition: 0.2s;
}

.button:hover {
  background-color: var(--hover01);
  cursor: pointer;
}

.button:focus {
  outline: solid 1px;
  outline-offset: calc(var(--spacing00) / -2);
  outline-color: var(--white);
}

.button:active {
  background-color: var(--secondary01);
  outline: none;
}

.button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.button-spinner {
  margin-right: var(--spacing00);
}

@media (max-width: 767px) {

  .default,
  .button {
    width: 100%;
    min-width: 120px;
    height: 40px;
    border: none;
    border-radius: 2px;
  }

  .button {
    background-color: var(--secondary01);
    box-sizing: border-box;
  }
}
