:host {
  display: block;
}

/****************** Title ******************/

.accordion-icon {
  margin-left: 10px;
  filter: invert(45%) sepia(7%) saturate(509%) hue-rotate(192deg) brightness(93%) contrast(82%);
}

.accordion-title-table {
  align-items: center;
  background-color: transparent;
  border: solid 1px var(--grayscale02);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing01);
  position: relative;
  text-align: left;
  transition: 0.3s;
  z-index: 1;
}

.accordion-title-table:hover {
  box-shadow: 0 0 8px var(--shadow01);
}

.accordion-title-table-simple {
  align-items: center;
  background: var(--white);
  border: 1px solid var(--grayscale02);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing01);
  position: relative;
  text-align: left;
  transition: 0.3s;
  z-index: 1;
}

.accordion-title-table-simple:hover {
  box-shadow: 0 0 8px var(--shadow01);
}

.accordion-title-content {
  align-items: center;
  background: var(--white);
  border: solid 1px var(--grayscale02);
  border-bottom: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px var(--shadow01);
  display: flex;
  justify-content: space-between;
  padding: 10px 8px 10px 12px;
  position: relative;
  text-align: left;
  transition: 0.3s;
  z-index: 1;
}

.accordion-title-content p {
  font-size: 16px;
}

.accordion-title-content:hover {
  box-shadow: 0 2px 6px var(--shadow01);
  cursor: pointer;
}

.accordion-title-content.open {
  box-shadow: none;
}

.accordion-title-content.open:hover {
  cursor: pointer;
}

.accordion-title-nav {
  background: transparent;
  border: 0;
  border-top: 1px solid var(--grayscale05);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing01) 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.accordion-title-mobile-nav {
  background: transparent;
  border: 0;
  border-top: 1px solid var(--grayscale05);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing01) 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.color-background {
  background-color: var(--tint01);
}

/****************** Content ******************/

.table-container {
  transform-origin: top;
  transition: 0.2s ease-in-out;
  visibility: hidden;
}

.table-container.open {
  visibility: visible;
}

.grid-table {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;
}

.grid-cell {
  outline: 1px solid var(--grayscale02);
  outline-offset: -1px;
  padding: var(--spacing01);
}

.accordion-table-simple {
  background: var(--white);
  margin-top: -1px;
  outline: 1px solid var(--grayscale02);
  outline-offset: -1px;
  padding: var(--spacing01);
  transform-origin: top;
  transition: 0.2s ease-in-out;
  visibility: hidden;
}

.accordion-table-simple.open {
  visibility: visible;
}

.accordion-content {
  background: var(--white);
  border-radius: 2px;
  box-shadow: 0 1px 3px var(--shadow01);
  border-top: none;
  border-left: 1px solid var(--grayscale02);
  border-right: 1px solid var(--grayscale02);
  border-bottom: 1px solid var(--grayscale02);
  margin-top: -44px;
  outline-offset: -1px;
  padding: 40px 40px 10px 10px;
  transform-origin: top;
  transition: 0.2s ease-in-out;
  visibility: hidden;
}

.accordion-content.open {
  visibility: visible;
}

.accordion-nav {
  border: none;
  padding: 0 var(--spacing01);
  transform-origin: top;
  transition: 0.2s ease-in-out;
  visibility: hidden;
}

.accordion-nav.open {
  visibility: visible;
}

