:host {
  display: block;
  width: 100%;
}

img {
  margin-right: 16px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.25rem;
}

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.media-body {
  -ms-flex: 1;
  flex: 1;
}

.mt-0 {
  margin-top: 0;
}
