:host {
  display: block;
}

.arvest-overlay {
  background-color: var(--overlay01);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s ease-in-out;
}

.arvest-overlay--content {
  width: 100%;
  position: absolute;
  transition: transform .2s ease-in-out;
}

.arvest-overlay[data-mountstate="unmounted"] {
  visibility: hidden;
  opacity: 0;
  width: 0px;
  height: 0px;
}

.arvest-overlay[data-mountstate="unmounted"] > .arvest-overlay--content {
  transform: scale(.8);
}

.arvest-overlay[data-mountstate="mounting"] {
  visibility: visible;
  opacity: 1;
}

.arvest-overlay[data-mountstate="mounting"] > .arvest-overlay--content {
  transform: scale(1);
}

.arvest-overlay[data-mountstate="mounted"] {
  visibility: visible;
  opacity: 1;
}

.arvest-overlay[data-mountstate="mounted"] > .arvest-overlay--content {
  transform: scale(1);
}

.arvest-overlay[data-mountstate="unmounting"] {
  visibility: visible;
  opacity: 0;
}

.arvest-overlay[data-mountstate="unmounting"] > .arvest-overlay--content {
  transform: scale(.8);
}
