/* This is in global.css but doesn't apply inside of shadow dom */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.modal {
  display: block;
  position: relative;
  background-color: var(--white);
  box-shadow: 0 0 8px var(--shadow01);
  padding: 0 var(--spacing01) var(--spacing01) var(--spacing01);
  overflow-y: auto;
  z-index: 999;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--grayscale05);
  margin-bottom: var(--spacing02);
  position: sticky;
  top:0;
  background-color: var(--white);
  padding-top: var(--spacing02);
}

.modal__title {
  margin: 0 var(--spacing02) var(--spacing02) 0;
}

.modal__closeButton {
  margin: -.125rem -.125rem 0 0;
}

/* Responsive Styling */

/* initial phone styles */
.modal--small {
  margin: 0 1rem;
  max-height: 80vh;
  max-width: 33.5rem;
  border-radius: 16px 2px 16px 2px;
}

.modal--large {
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
}

/* max-width of modal + margin */
@media (min-width: 35.5rem) {
  .modal--small {
    margin: 0 auto;
  }
}

/* tablet breakpoint */
@media (min-width: 48rem) {
  .modal {
    padding: 0 var(--spacing02) var(--spacing02) var(--spacing02);
  }

  .modal--small {
    max-height: 60vh;
  }

  .modal--large {
    margin: 0 1rem;
    max-height: 80vh;
    min-height: auto;
    border-radius: 16px 2px 16px 2px;
  }
}

/* Desktop breakpoint */
@media (min-width: 77.5rem) {
  .modal--large {
    margin: 0 auto;
    max-width: 62.5rem; /* 1000px */
  }
}
